{% extends "base.html" %}

{% block body %}
    <article id="rightSide">
        <section id="subject">
            <h1>Search or Add CODE</h1>
        </section>
        <section id="mainLetter">
            <p>This page is about to make your work easy just search what you want 
                in which program language you need 
            </p>
        </section>
        <section id="searchBar">
            <!-- the button will redirect to search page  -->
            <form method="GET" action="{% url 'cardsShow:search' %}">
                <label for="text1" id="labelName">Search Subject Code : </label>
                <input id="text1" type="text" name="search">
                <i class="fas fa-search" id="searchIcon"></i>
                <button type="submit" class="btn btn-primary w-100" >Search</button>
            </form>
        </section>
    </article>

{% endblock body %}